# Python 기본
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# 가상환경(venv) 무시
venv/
.env/
.venv/
env/
ENV/
Pipfile.lock
poetry.lock

# IDE: PyCharm 관련
.idea/
*.iml

# OS별 임시 파일
.DS_Store
Thumbs.db

# 테스트 관련
htmlcov/
.coverage
.tox/
.pytest_cache/

# 기타
*.bak
*.swp
